.git
.gitignore

.venv
venv
ENV

.vscode
__pycache__
*.pyc
*.pyo
*.pyd

.ipynb_checkpoints

data/*
!data/README.md

models/*
!models/.gitkeep

submissions/*
!submissions/.gitkeep

reports/*.csv
reports/*.png

.DS_Store
.env